body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

.banner-background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 550px;
  overflow: hidden;
}
.banner-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(270deg, transparent 25%, #000);
  z-index: 1;
  pointer-events: none;
}
.banner-background .banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.banner-background .banner {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.banner-background .banner h1 {
  letter-spacing: 0.4px;
  margin: 0 0 1.25rem;
  color: #fff;
  font-weight: 600;
  font-size: 4rem;
  line-height: 5rem;
}
.banner-background .banner p {
  font-family: Poppins, sans-serif;
  margin-bottom: 0.375rem;
  font-size: 1.625rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
}
.banner-background .banner button {
  font-family: Poppins, sans-serif;
  letter-spacing: 0.4px;
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #4183d7;
  border: 1px solid #4183d7;
  color: #fff;
  padding: 5px 20px;
  font-size: 1.25rem;
  line-height: 50px;
  margin: 1.938rem 0 1.125rem;
  cursor: pointer;
}
.banner-background .banner button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Media Queries */
@media (max-width: 768px) {
  .banner-background .banner p {
    text-align: center;
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  .banner-background .banner {
    text-align: left;
    align-items: flex-start;
  }
  .banner-background .banner p {
    text-align: left; /* Align text to the left on larger screens */
  }
}
.our-services h2 {
  font-size: 1.3rem;
  position: relative;
  padding-bottom: 10px;
  margin: 0 0 11px;
  color: #333645;
  font-weight: 400;
}

/* Top Section Styles */
.our-services-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-services-top h1 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 4rem;
  text-align: center;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.service {
  display: block;
  border: 1px solid #ccc;
  padding: 30px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-align: center;
  margin-top: 30px;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.service p {
  font-size: 0.8125rem;
  font-weight: 400;
  margin-bottom: 13px;
  line-height: 1.375rem;
  color: #333645;
}

.service h2 {
  font-size: 1.3rem;
  position: relative;
  padding-bottom: 10px;
  margin: 0 0 11px;
  color: #333645;
  transition: color 0.3s ease-in-out;
}

.service span {
  display: block;
  font-size: 2rem;
  line-height: 62px;
  height: 65px;
  width: 65px;
  margin: 0 auto 17px;
  color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Base Hover Effects for Services */
.service:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.service:hover h2 {
  color: #fff;
}

.service:hover p {
  color: #f1f1f1;
}

/* Hover Effects for Individual Services */
.software:hover span {
  background-color: #fff;
  color: #67809f;
}

.IT-support:hover span {
  background-color: #fff;
  color: #4183d7;
}

.digital-marketing:hover span {
  background-color: #fff;
  color: #2ecc71;
}

.telecoms-service:hover span {
  background-color: #fff;
  color: #d64541;
}

.web-design:hover span {
  background-color: #fff;
  color: #926fb1;
}

.cyber-security:hover span {
  background-color: #fff;
  color: #f62459;
}

.developer-training:hover span {
  background-color: #fff;
  color: #ce4125;
}

/* Service Color Classes */
.software-color {
  background-color: #67809f;
}

.IT-support-color {
  background-color: #4183d7;
}

.digital-marketing-color {
  background-color: #2ecc71;
}

.telecoms-service-color {
  background-color: #d64541;
}

.web-design-color {
  background-color: #926fb1;
}

.cyber-security-color {
  background-color: #f62459;
}

.developer-training-color {
  background-color: #ce4125;
}

/* Individual Hover Backgrounds */
.software:hover {
  background-color: #5a718a;
}

.IT-support:hover {
  background-color: #356fb5;
}

.digital-marketing:hover {
  background-color: #27b863;
}

.telecoms-service:hover {
  background-color: #b53836;
}

.web-design:hover {
  background-color: #7b5a97;
}

.cyber-security:hover {
  background-color: #d11f4d;
}

.developer-training:hover {
  background-color: #b23920;
}

/* Service Button Styles */
.service-button {
  font-family: Poppins, sans-serif;
  letter-spacing: 0.4px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

/* Default Button Colors for Each Service */
.software .service-button {
  background-color: #f7b322;
  color: white;
}

.IT-support .service-button {
  background-color: #356fb5;
  color: white;
}

.digital-marketing .service-button {
  background-color: #27b863;
  color: white;
}

.telecoms-service .service-button {
  background-color: #b53836;
  color: white;
}

.web-design .service-button {
  background-color: #7b5a97;
  color: white;
}

.cyber-security .service-button {
  background-color: #d11f4d;
  color: white;
}

.developer-training .service-button {
  background-color: #b23920;
  color: white;
}

/* Hover Effects for Buttons Inside Each Service */
.software:hover .service-button {
  background-color: white;
  color: #67809f;
}

.IT-support:hover .service-button {
  background-color: white;
  color: #356fb5;
}

.digital-marketing:hover .service-button {
  background-color: white;
  color: #27b863;
}

.telecoms-service:hover .service-button {
  background-color: white;
  color: #b53836;
}

.web-design:hover .service-button {
  background-color: white;
  color: #7b5a97;
}

.cyber-security:hover .service-button {
  background-color: white;
  color: #d11f4d;
}

.developer-training:hover .service-button {
  background-color: white;
  color: #b23920;
}

/* Service Container Styles */
.service-container {
  width: 100%;
}

/* Media Queries */
@media (min-width: 767px) {
  .service-list {
    flex-direction: row;
  }
  .service-container-small {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .service-small-1, .service-small-2, .service-small-3, .service-small-4 {
    padding: 0 15px;
  }
}
@media (min-width: 992px) {
  .service-container {
    width: 33.33333333%;
    padding: 0 15px;
  }
}
@media (min-width: 1260px) {
  .service-container-small {
    width: 25%;
  }
  .service-small-4 {
    padding-right: 13px;
  }
}
@media (max-width: 767px) {
  .our-services-top h1 {
    display: none;
  }
}
@media (min-width: 767px) {
  .our-services-bottom {
    display: none;
  }
}
/* Partners Section */
.partners {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: hidden;
  gap: 50px;
}

.partners img {
  width: auto;
  max-height: 70px;
  flex-shrink: 0;
  filter: grayscale(100%);
  padding: 0 20px;
}

.partners img:hover {
  filter: grayscale(0%);
}

/* Case study styles */
.pictures-section .case-study {
  position: relative;
  display: inline-block;
}

/* Hover banner styles */
.pictures-section .case-study .hover-banner {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  font-size: 14px;
  white-space: nowrap;
  border-radius: 4px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Arrow  */
.pictures-section .case-study .hover-banner::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.7);
}

/* Show Banner  */
.pictures-section .case-study:hover .hover-banner {
  opacity: 1;
  transform: translate(-50%, -10px); /* Slight lift */
}

/* Latest News Section Styling */
.latest-news-section {
  padding: 40px 0;
  background-color: #f9f9f9;
}

.latest-news-section h2 {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  letter-spacing: 0.4px;
  font-family: inherit;
  line-height: 1.1;
  font-size: 2.25rem;
  box-sizing: border-box;
  font-weight: 600;
  color: #333645;
}

.latest-news-section h3 {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  letter-spacing: 0.4px;
  font-family: inherit;
  line-height: 1.1;
  font-size: 1.625rem;
  box-sizing: border-box;
  background: transparent;
  text-decoration: none;
  font-weight: 600;
  color: #333645;
}

.news-flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.news-card {
  flex: 1 1 calc(33.333% - 20px);
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.news-card:hover {
  transform: translateY(-8px);
}

.news-image img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  object-fit: cover;
}

.news-content {
  padding: 15px;
}

.news-content h3 {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  letter-spacing: 0.4px;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  box-sizing: border-box;
  background: transparent;
  text-decoration: none;
  font-weight: 600;
}

.news-card:nth-child(odd) .news-content h3 {
  color: #db8c0d;
}

.news-card:nth-child(even) .news-content h3 {
  color: #926fb1;
}

.news-content p {
  cursor: pointer;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  letter-spacing: 0.4px;
  line-height: 1.375rem;
  font-size: 0.9rem;
  color: #666;
  margin: 5px 0;
}

.news-button {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Poppins, sans-serif;
  letter-spacing: 0.4px;
  box-sizing: border-box;
  background: transparent;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  user-select: none;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  color: #fff;
  font-weight: 400;
}

.news-card:nth-child(odd) .news-button {
  background-color: #db8c0d;
  border-color: #db8c0d;
}

.news-card:nth-child(even) .news-button {
  background-color: #926fb1;
  border-color: #926fb1;
}

.news-footer {
  display: flex;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #ccc;
  margin-top: auto;
}

.author-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-info p {
  font-size: 0.875rem;
  color: #555;
  margin: 0;
}

/* Responsive Design */
@media (max-width: 1024px) and (min-width: 768px) {
  .news-card {
    flex: 1 1 calc(50% - 20px);
  }
  .news-flexbox .news-card:nth-child(3) {
    display: none;
  }
}
@media (max-width: 768px) {
  .news-flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  .news-card {
    flex: 1 1 48%;
  }
}
.about {
  background-color: #323544;
  color: #fff;
  padding: 50px 0;
}

.about-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.welcome-section,
.clients-section {
  flex: 1;
}

/* Welcome Section */
h1 {
  font-family: Poppins, sans-serif;
  font-size: 2.25rem;
  color: white;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 1.1;
  margin-bottom: 20px;
}

p {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #fff;
  line-height: 1.875rem;
  margin-bottom: 25px;
}

/* Clients Section */
.clients-section .testimonial {
  margin-bottom: 20px;
}

.clients-section .stars {
  font-size: 1.5rem;
  color: #FFD700;
  margin-bottom: 10px;
}

.clients-section p {
  font-family: Poppins, sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.4px;
  color: #fff;
  line-height: 1.875rem;
  font-style: italic;
  font-weight: 600;
}

.clients-section .testimonial span {
  font-family: Poppins, sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.4px;
  line-height: 1.875rem;
  color: #a3a8ac;
  font-weight: 600;
}

/* Stars */
.clients-section .stars {
  font-family: FontAwesome;
  font-size: 50px;
  color: orange;
  margin-bottom: 25px;
}

/* Buttons */
.choose-button button {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: #272936;
  padding: 10px 30px;
  border: 1px solid transparent;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  margin-bottom: 17px;
  letter-spacing: 0.4px;
  line-height: 35px;
}

.choose-button button:hover {
  background-color: #444654;
}

/* Google button used margin top as for some reason now the buttons would not line up even though it  */
.choose-button .google {
  margin-top: 30px;
  background-color: #4285F4;
}

.choose-button .google:hover {
  background-color: #357ae8;
}

/* Trustpilot button */
.choose-button .trustpilot {
  background-color: #00b67a;
}

.choose-button .trustpilot:hover {
  background-color: #008c5a;
}

@media (max-width: 992px) {
  .about-row {
    flex-direction: column;
  }
}
@media (min-width: 1260px) {
  .about-row {
    margin-bottom: 40px;
  }
}
footer {
  background-color: #323544;
  color: #fff;
  padding: 30px 0 0;
  position: relative;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-logo {
  flex: 100%;
  margin-bottom: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Generic size for now to not make it too big*/
.footer-logo img {
  max-width: 250px;
}

/* The h4 follow us text  */
.follow-us {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 15px 0;
}

/* Social media icons horizontally */
.footer-logo .fa {
  display: inline-block;
  margin-right: 10px;
}

/* Footer Menu */
.footer-menu {
  flex: 100%;
  margin-bottom: 30px;
}

.footer-menu h4 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 20px;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.footer-menu ul li:hover {
  text-decoration: underline;
}

.fa {
  padding: 10px;
  font-size: 24px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin-right: 5px;
  border-radius: 0;
}

.fa:hover {
  opacity: 0.8;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-indeed {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #E4405F;
  color: white;
}

.fa-linkedin {
  background: #0077B5;
  color: white;
}

/* Media Queries */
@media (min-width: 768px) {
  .footer-menu {
    flex: 50%;
  }
}
@media (min-width: 992px) {
  .footer-menu {
    flex: 20%;
  }
}
@media (min-width: 1260px) {
  .footer-menu {
    margin-bottom: 40px;
  }
}
/*Was not sure where to put contsent info, so i left it here */
/* Styling for button */
#consent {
  position: fixed;
  line-height: 22px;
  z-index: 99;
  bottom: 0;
  left: 0;
  display: flex;
  background: #75788a;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  border: solid #75788a;
  border-width: 1px 1px 0 0;
  border-radius: 0;
  border-top-right-radius: 10px;
  padding: 0 10px;
  cursor: pointer;
  font-size: 0.8rem;
}

/* Hover effort for button */
#consent:hover {
  background-color: #6b6d7f;
  border-color: #6b6d7f;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?f5hu2r");
  src: url("../fonts/icomoon.eot?f5hu2r#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?f5hu2r") format("truetype"), url("../fonts/icomoon.woff?f5hu2r") format("woff"), url("../fonts/icomoon.svg?f5hu2r#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*All this is icon stuff, i do not want to mess with it */
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
  content: "\e901";
}

.icon-phone2:before {
  content: "\e921";
}

.icon-mobile:before {
  content: "\e922";
}

.icon-headphone:before {
  content: "\e923";
}

.icon-cloud:before {
  content: "\e924";
}

.icon-arrow-up:before {
  content: "\e902";
}

.icon-arrow-down:before {
  content: "\e907";
}

.icon-arrow-left:before {
  content: "\e908";
}

.icon-arrow-right1:before {
  content: "\e90c";
}

.icon-check-alt:before {
  content: "\e90f";
}

.icon-x-altx-alt:before {
  content: "\e910";
}

.icon-document-alt-stroke:before {
  content: "\e911";
}

.icon-transfer:before {
  content: "\e925";
}

.icon-headphones1:before {
  content: "\e926";
}

.icon-iphone:before {
  content: "\e927";
}

.icon-folder-stroke:before {
  content: "\e912";
}

.icon-info:before {
  content: "\e913";
}

.icon-comments:before {
  content: "\e900";
}

.icon-star:before {
  content: "\e90d";
}

.icon-grid:before {
  content: "\e90e";
}

.icon-pencil:before {
  content: "\e905";
}

.icon-book:before {
  content: "\e91f";
}

.icon-phone:before {
  content: "\e942";
}

.icon-address-book:before {
  content: "\e944";
}

.icon-display:before {
  content: "\e956";
}

.icon-laptop:before {
  content: "\e957";
}

.icon-drive:before {
  content: "\e963";
}

.icon-search:before {
  content: "\e986";
}

.icon-stats-bars:before {
  content: "\e99c";
}

.icon-stats-bars2:before {
  content: "\e99d";
}

.icon-lab:before {
  content: "\e9aa";
}

.icon-shield:before {
  content: "\e9b4";
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-star-full:before {
  content: "\e9d9";
}

.icon-wondering:before {
  content: "\e9fb";
}

.icon-arrow-right:before {
  content: "\ea3c";
}

.icon-checkbox-unchecked:before {
  content: "\ea53";
}

.icon-embed:before {
  content: "\ea80";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-linkedin:before {
  content: "\eac9";
}

.icon-chat:before {
  content: "\e903";
}

.icon-cloud_download:before {
  content: "\e914";
}

.icon-folder_open:before {
  content: "\e915";
}

.icon-keyboard_arrow_down:before {
  content: "\e916";
}

.icon-keyboard_arrow_left:before {
  content: "\e917";
}

.icon-keyboard_arrow_right:before {
  content: "\e918";
}

.icon-keyboard_arrow_up:before {
  content: "\e919";
}

.icon-mouse1:before {
  content: "\e904";
}

.icon-security:before {
  content: "\e906";
}

.icon-phone_in_talk:before {
  content: "\e928";
}

.icon-thumb_down_alt:before {
  content: "\e91a";
}

.icon-thumb_up_alt:before {
  content: "\e91b";
}

.icon-trending_up:before {
  content: "\e929";
}

.icon-info-large:before {
  content: "\e91c";
}

.icon-social-linkedin:before {
  content: "\e91d";
}

.icon-github1:before {
  content: "\e91e";
}

.icon-hard-drive:before {
  content: "\e92a";
}

.icon-menu1:before {
  content: "\e920";
}

.icon-cloud1:before {
  content: "\e92b";
}

.icon-graduate:before {
  content: "\e909";
}

.icon-paperplane:before {
  content: "\e90a";
}

.icon-study:before {
  content: "\e90b";
}

.icon-envelope-o:before {
  content: "\f003";
}

.icon-star1:before {
  content: "\f005";
}

.icon-clock-o:before {
  content: "\f017";
}

.icon-download:before {
  content: "\f019";
}

.icon-lock:before {
  content: "\f023";
}

.icon-headphones:before {
  content: "\f025";
}

.icon-text-width:before {
  content: "\f035";
}

.icon-pencil1:before {
  content: "\f040";
}

.icon-question-circle:before {
  content: "\f059";
}

.icon-shopping-cart:before {
  content: "\f07a";
}

.icon-folder-open:before {
  content: "\f07c";
}

.icon-cogs:before {
  content: "\f085";
}

.icon-gears:before {
  content: "\f085";
}

.icon-linkedin-square:before {
  content: "\f08c";
}

.icon-phone1:before {
  content: "\f095";
}

.icon-phone-square:before {
  content: "\f098";
}

.icon-github:before {
  content: "\f09b";
}

.icon-bullhorn:before {
  content: "\f0a1";
}

.icon-globe:before {
  content: "\f0ac";
}

.icon-briefcase:before {
  content: "\f0b1";
}

.icon-group:before {
  content: "\f0c0";
}

.icon-users:before {
  content: "\f0c0";
}

.icon-money:before {
  content: "\f0d6";
}

.icon-linkedin1:before {
  content: "\f0e1";
}

.icon-dashboard:before {
  content: "\f0e4";
}

.icon-tachometer:before {
  content: "\f0e4";
}

.icon-clipboard:before {
  content: "\f0ea";
}

.icon-paste:before {
  content: "\f0ea";
}

.icon-cloud-download:before {
  content: "\f0ed";
}

.icon-laptop1:before {
  content: "\f109";
}

.icon-ticket:before {
  content: "\f145";
}

.icon-graduation-cap:before {
  content: "\f19d";
}

.icon-mortar-board:before {
  content: "\f19d";
}

.icon-file-code-o:before {
  content: "\f1c9";
}

.icon-television:before {
  content: "\f26c";
}

.icon-tv:before {
  content: "\f26c";
}

.icon-handshake-o:before {
  content: "\f2b5";
}

/*# sourceMappingURL=main.css.map */
