footer { 
   background-color: #323544;
   color: white;
   padding: 30px 0 0;
   position: relative;
}

.footer-row {
   display: flex;
   flex-wrap: wrap;
}

.footer-logo {
   flex: 100%;
   margin-bottom: 30px;
   text-align: left;
   display: flex;
   flex-direction: column;
   gap: 15px;
}

/* Generic size for now to not make it too big */
.footer-logo img {
   max-width: 350px;
}

/* The h4 follow us text */
.follow-us {
   color: white;
   text-transform: uppercase;
   font-size: 1rem;
   margin: 15px 0;
   font-weight: 400;


  
  
}

/* Social media icons horizontally */
.social-media-icons .icon {
   letter-spacing: .4px;
   box-sizing: border-box;
   background: transparent;
   color: #fff;
   border-color: #333645;
   text-align: center;
   text-decoration: none;
   font-size: 26px;
   line-height: 26px;
   background-color: #212330;
   width: 35%;
   padding: 12px 22px 16px;
   margin-right: 10px;
   margin-bottom: 10px;
}


.social-media-icons .icon:hover:nth-child(1) {
   background: blue;
}

.social-media-icons .icon:hover:nth-child(2) {
   background: green;
}

.social-media-icons .icon:hover:nth-child(3) {
   background: orange;
}


.social-media-icons .icon:hover:nth-child(4) {
   background: pink;
}




   

/* Footer Menu */
.footer-menu {
   flex: 100%;
   margin-bottom: 30px;
}

.footer-menu h4 {
   letter-spacing: .4px;
   font-weight: 400;
   margin: 15px 0 15px;
   text-transform: uppercase;
   font-size: 1rem;
   margin-bottom: 20px;
   
}

/* Footer anchor tags styling */
.footer-menu a {
   letter-spacing: .4px;
   list-style: none;
   font-size: .8125rem;
   line-height: 1.375rem;
   box-sizing: border-box;
   background: transparent;
   text-decoration: none;
   color: #fff;
}

.footer-menu a:hover {
   text-decoration: underline; /* Adds underline on hover for better user experience */
}

.footer-menu ul {
   list-style: none;
   padding: 0;
   margin: 0;
   line-height: 1.5;
}

.footer-menu ul li a:hover {
   text-decoration: underline;
}

/* Media Queries */

/* Adjust the grid layout for social media icons for screens 376px or smaller */
@media (max-width: 376px) {
   .social-media-icons {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       gap: 10px; /* Ensure consistent spacing between rows and columns */
   }

   .social-media-icons .icon {
       width: 85%; /* Make icons fill the grid cell */
       margin: 0; /* Remove individual margins to rely on grid gap */
   }
}
@media (min-width: 768px) {
   .footer-menu {
       flex: 50%; 
   }
}

@media (min-width: 992px) {
   .footer-menu {
       flex: 20%; 
   }
}

@media (min-width: 1024px) {
   .footer-row {
       flex-wrap: nowrap;
   }

   .footer-logo {
       flex: 25%;
   }

   .footer-menu {
       flex: 1;
       margin-bottom: 0; /* Remove margin for better alignment */
   }
}
