/* Partners Section */
.partners {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: hidden; 
    gap: 50px; 
}

.partners img {
    width: auto; 
    max-height: 70px;
    flex-shrink: 0;
    filter: grayscale(100%);
    padding: 0 20px;
}

.partners img:hover {
    filter: grayscale(0%);
}

/* Case study styles */
.pictures-section .case-study {
    position: relative;
    display: inline-block;
    padding-top: 20px;
    margin-top: 20px;
    
}

.case-study h3{
    -webkit-text-size-adjust: 100%;
    letter-spacing: .4px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    user-select: auto;
    box-sizing: border-box;
    font-family: inherit;
    line-height: 1.1;
    font-weight: 400;
    position: relative;
    font-size: 1.125rem;
    color: #fff;
    padding-bottom: 17px;
    margin: 0;

}

/* Hover banner styles */
/* Hover banner styles */
.pictures-section .case-study .hover-banner {
    position: absolute;
    bottom: 120%; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    background-color: #333645;  /* Set background color */
    padding: 10px 20px;
    white-space: nowrap; 
    border-radius: 4px;
    transition: opacity 0.3s ease, transform 0.3s ease;

    /* Removed color and text-align properties here to avoid conflicts */
}

/* Styling for h3 inside hover-banner */
.pictures-section .case-study .hover-banner h3 {
    -webkit-text-size-adjust: 100%;
    letter-spacing: .4px;
    text-align: center;  /* Centering the text */
    -webkit-tap-highlight-color: transparent;
    user-select: auto;
    box-sizing: border-box;
    font-family: inherit;
    line-height: 1.1;
    font-weight: 400;
    position: relative;
    font-size: 1.125rem;
    color: #fff;  /* Set text color */
    padding-bottom: 17px;
    margin: 0;
}



/* Arrow */
.pictures-section .case-study .hover-banner::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #333645;
    
}

/* Show Banner */
.pictures-section .case-study:hover .hover-banner {
    opacity: 1;
    transform: translate(-50%, -10px); /* Slight lift */
}