.our-services h2 {
    font-size: 2.7rem;
    line-height: 1.1;
    color: #333645;
    font-weight: 400;
}

.our-services h3 {
    line-height: 1.1;
    font-size: 1.625rem;
    font-weight: 600;
    color: #333645;
    text-align: right;
}

/* Top Section Styles */
.our-services-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.our-services-top h1 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 4rem;
    text-align: center;
}

.our-services-icon-arrow-right {
    margin-left: 8px;
}

/* Service List Styles */
.service-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.service {
    display: block;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
    top: 0;
    position: relative;
}

.service p {
    font-size: .8125rem;
    font-weight: 400;
    margin-bottom: 13px;
    line-height: 1.375rem;
    color: #333645;
}

.service h2 {
    font-size: 1.3rem;
    position: relative;
    padding-bottom: 10px;
    margin: 0 0 11px;
}

.service span {
    display: block;
    font-size: 2rem;
    line-height: 62px;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    color: #fff;
    border-radius: 50%;
}

/* Service Color Classes */
.software-color {
    background-color: #67809f;
}

.IT-support-color {
    background-color: #4183d7;
}

.digital-marketing-color {
    background-color: #2ecc71;
}

.telecoms-service-color {
    background-color: #d64541;
}

.web-design-color {
    background-color: #926fb1;
}

.cyber-security-color {
    background-color: #f62459;
}

.developer-training-color {
    background-color: #ce4125;
}

/* Service Container Styles */
.service-container {
    width: 100%;
}


/* Button Styling */
.service-button {
    font-family: Poppins, sans-serif;
    letter-spacing: 0.4px;
    box-sizing: border-box;
    background: transparent;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
    font-weight: 400;
}



.software-button {
    color: white;
    background-color: #f7b322;
    }
    
    
    


.IT-button {
    color: white;
    background-color:#4183d7;
    }


        

    .digital-marketing-button{
        color: white;
        background-color: #2ecc71;

    }

    .telecoms-button{
        color: white;
        background-color: #d64541
    }
    
    
    .cyber-security-button{
    color: white;
    background-color:#926fb1;
    }






.our-services-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Hover Effects */
.software:hover {
    color: #fff;
    border-color: transparent;
    top: -10px;
    transition: .5s ease;
    background-color: #67809f;
}

.software:hover h2,
.software:hover p {
    color: #fff;
}

.software:hover a {
    background-color: #fff;
    color: #67809f;
    border-color: transparent;
}

.software:hover span {
    color: #67809f;
    background-color: #fff;
}

.IT-support:hover {
    color: #fff;
    border-color: transparent;
    top: -10px;
    transition: .5s ease;
    background-color: #4183d7;
}

.IT-support:hover h2,
.IT-support:hover p {
    color: #fff;
}

.IT-support:hover a {
    background-color: #fff;
    color: #4183d7;
    border-color: transparent;
}

.IT-support:hover span {
    color: #4183d7;
    background-color: #fff;
}

.digital-marketing:hover {
    color: #fff;
    border-color: transparent;
    top: -10px;
    transition: .5s ease;
    background-color: #2ecc71;
}

.digital-marketing:hover h2,
.digital-marketing:hover p {
    color: #fff;
}

.digital-marketing:hover a {
    background-color: #fff;
    color: #2ecc71;
    border-color: transparent;
}

.digital-marketing:hover span {
    color: #2ecc71;
    background-color: #fff;
}

.telecoms-service:hover {
    color: #fff;
    border-color: transparent;
    top: -10px;
    transition: .5s ease;
    background-color: #d64541;
}

.telecoms-service:hover h2,
.telecoms-service:hover p {
    color: #fff;
}

.telecoms-service:hover a {
    background-color: #fff;
    color: #d64541;
    border-color: transparent;
}

.telecoms-service:hover span {
    color: #d64541;
    background-color: #fff;
}

.web-design:hover {
    color: #fff;
    border-color: transparent;
    top: -10px;
    transition: .5s ease;
    background-color: #926fb1;
}

.web-design:hover h2,
.web-design:hover p {
    color: #fff;
}

.web-design:hover a {
    background-color: #fff;
    color: #926fb1;
    border-color: transparent;
}

.web-design:hover span {
    color: #926fb1;
    background-color: #fff;
}

.cyber-security:hover {
    color: #fff;
    border-color: transparent;
    top: -10px;
    transition: .5s ease;
    background-color: #f62459;
}

.cyber-security:hover h2,
.cyber-security:hover p {
    color: #fff;
}

.cyber-security:hover a {
    background-color: #fff;
    color: #f62459;
    border-color: transparent;
}

.cyber-security:hover span {
    color: #f62459;
    background-color: #fff;
}

.developer-training:hover {
    color: #fff;
    border-color: transparent;
    top: -10px;
    transition: .5s ease;
    background-color: #ce4125;
}

.developer-training:hover h2,
.developer-training:hover p {
    color: #fff;
}

.developer-training:hover a {
    background-color: #fff;
    color: #ce4125;
    border-color: transparent;
}

.developer-training:hover span {
    color: #ce4125;
    background-color: #fff;
}

/* Media Queries */
.service-list {
    @media (min-width: 767px) {
        flex-direction: row;
    }
}

.service-container {
    @media (min-width: 992px) {
        width: 33.33333333%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.service-container-small {
    @media (min-width: 767px) {
        width: 50%;
    }
    @media (min-width: 992px) {
        width: 50%;
    }
    @media (min-width: 1260px) {
        width: 25%;
    }
}

.service-small-1, .service-small-3 {
    @media (min-width: 767px) {
        padding-right: 15px;
    }
}

.service-small-2, .service-small-4 {
    @media (min-width: 767px) {
        padding-left: 15px;
    }
}

.service-small-1, .service-small-3 {
    @media (min-width: 992px) {
        padding-left: 15px;
    }
}

.service-small-2, .service-small-4 {
    @media (min-width: 992px) {
        padding-right: 15px;
    }
}

.service-small-4 {
    @media (min-width:1260px) {
        padding-right: 13px;
    }
}

.our-services-top h1 {
    @media (max-width: 767px){
        display: none;
    }
}

.our-services-bottom {
    @media (min-width: 767px) {
        display: none;
    }
}


/* IT Support Button Hover */
.IT-support:hover .IT-button {
    background-color: #fff;
    color: #4183d7;
    border-color: transparent;
}

/* Digital Marketing Button Hover */
.digital-marketing:hover .digital-marketing-button {
    background-color: #fff;
    color: #2ecc71;
    border-color: transparent;
}
