.our-services h2 {
    font-size: 1.3rem;
    position: relative;
    padding-bottom: 10px;
    margin: 0 0 11px;
    color: #333645;
    font-weight: 400;
}


/* Top Section Styles */
.our-services-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Simple underline effect for h1 on hover */
.our-services-top h1 {
    position: relative;
    display: inline-block;
    font-size: 2.25rem;
    color: #333645;
    font-weight: 600;
    text-decoration: none;
}

.our-services-top h1:hover {
    color: #333645; /* Ensure the color stays the same on hover */
}

.our-services-top h1:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Underline thickness */
    background-color: #333645; /* Underline color */
}
.our-services-top a {


    color: #333645; /* Match the h1 color */
    text-decoration: none; /* Remove the underline */
}



.our-services-top h2 {
    padding-top: 30px;
    font-size: 2.7rem;
    line-height: 1.1;
    color: #333645;
    font-weight: 400;
  


}




.service-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.service {
    display: block;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.service p {
    font-size: 0.8125rem;
    font-weight: 400;
    margin-bottom: 13px;
    line-height: 1.375rem;
    color: #333645;
}

.service h2 {
    font-size: 1.3rem;
    position: relative;
    padding-bottom: 10px;
    margin: 0 0 11px;
    color: #333645;
    transition: color 0.3s ease-in-out;
}

.service span {
    display: block;
    font-size: 2rem;
    line-height: 62px;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    color: white;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Base Hover Effects for Services */
.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.service:hover h2 {
    color: white;
}

.service:hover p {
    color: white;
}

/* Hover Effects for each service box*/
.software:hover span {
    background-color: white;
    color: #67809f;
}

.IT-support:hover span {
    background-color: white;
    color: #4183d7;
}

.digital-marketing:hover span {
    background-color: white;
    color: #2ecc71;
}

.telecoms-service:hover span {
    background-color: white;
    color: #d64541;
}

.web-design:hover span {
    background-color: white;
    color: #926fb1;
}

.cyber-security:hover span {
    background-color: white;
    color: #f62459;
}

.developer-training:hover span {
    background-color: white;
    color: #ce4125;
}

/* Service Color Classes */
.software-color { background-color: #67809f; }
.IT-support-color { background-color: #4183d7; }
.digital-marketing-color { background-color: #2ecc71; }
.telecoms-service-color { background-color: #d64541; }
.web-design-color { background-color: #926fb1; }
.cyber-security-color { background-color: #f62459; }
.developer-training-color { background-color: #ce4125; }

/* Individual Hover Backgrounds */
.software:hover { background-color: #5a718a; }
.IT-support:hover { background-color: #356fb5; }
.digital-marketing:hover { background-color: #27b863; }
.telecoms-service:hover { background-color: #b53836; }
.web-design:hover { background-color: #7b5a97; }
.cyber-security:hover { background-color: #d11f4d; }
.developer-training:hover { background-color: #b23920; }

/* Service Button Styles */
.service-button {
    letter-spacing: 0.4px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

/* Default Button Colors for Each Service */
.software .service-button { background-color: #f7b322; color: white; }
.IT-support .service-button { background-color: #356fb5; color: white; }
.digital-marketing .service-button { background-color: #27b863; color: white; }
.telecoms-service .service-button { background-color: #b53836; color: white; }
.web-design .service-button { background-color: #7b5a97; color: white; }
.cyber-security .service-button { background-color: #d11f4d; color: white; }
.developer-training .service-button { background-color: #b23920; color: white; }

/* Hover Effects for Buttons Inside Each Service */
.software:hover .service-button { background-color: white; color: #67809f; }
.IT-support:hover .service-button { background-color: white; color: #356fb5; }
.digital-marketing:hover .service-button { background-color: white; color: #27b863; }
.telecoms-service:hover .service-button { background-color: white; color: #b53836; }
.web-design:hover .service-button { background-color: white; color: #7b5a97; }
.cyber-security:hover .service-button { background-color: white; color: #d11f4d; }
.developer-training:hover .service-button { background-color: white; color: #b23920; }

/* Service Container Styles */
.service-container { width: 100%; }

/* Media Queries */
@media (min-width: 767px) {
    .service-list { flex-direction: row; }
    .service-container-small {
        width: 50%;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .service-small-1, .service-small-2, .service-small-3, .service-small-4 {
        padding: 0 15px;
    }
}

@media (min-width: 992px) {
    .service-container {
        width: 33.33333333%;
        padding: 0 15px;
    }
}

@media (min-width: 1260px) {
    .service-container-small { width: 25%; }
    .service-small-4 { padding-right: 13px; }
}

@media (max-width: 767px) {
    .our-services-top h1 { 
        display: none;
     }
}

@media (min-width: 767px) {
    .our-services-bottom { display: none;
    
    }
}


.digital-marketing-button {
    margin-top: 20px; /* Adjust this value as needed */
}





/* Top Section Styles */

.our-services-bottom h1 {
    
    letter-spacing: 0.4px;
    line-height: 1.1;
    font-size: 2.25rem;
    font-weight: 600;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    color: #333645;
    text-decoration: none;

}

/* Simple underline effect for h1 on hover */
.our-services-bottom h1 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    letter-spacing: .4px;
    text-align: center;
    font-family: inherit;
    line-height: 1.1;
    font-size: 1.625rem;
    box-sizing: border-box;
    background: transparent;
    text-decoration: none;
    font-weight: 600;
    color: #333645;
}

.our-services-bottom h1:hover {
    color: #333645; /* Ensure the color stays the same on hover */
}

.our-services-bottom h1:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Underline thickness */
    background-color: #333645; /* Underline color */
}
.our-services-bottom a {


    color: #333645; /* Match the h1 color */
    text-decoration: none; /* Remove the underline */
}



