 /* News styles*/ 
 .latest-news-section {
    padding: 40px 0;
    background-color: #f9f9f9;
}

.latest-news-section h2 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    letter-spacing: .4px;
    font-family: inherit;
    line-height: 1.1;
    font-size: 2.25rem;
    box-sizing: border-box;
    font-weight: 600;
    color: #333645;


    
}

.latest-news-section h3{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    letter-spacing: .4px;
    font-family: inherit;
    line-height: 1.1;
    font-size: 1.625rem;
    box-sizing: border-box;
    background: transparent;
    text-decoration: none;
    font-weight: 600;
    color: #333645;
}

.news-flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}


.news-card {
    flex: 1 1 calc(33.333% - 20px); 
    background: white;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.news-card:hover {
    transform: translateY(-8px);
}


.news-image img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    object-fit: cover;
}


.news-content {
    padding: 15px;
}

.news-content h3 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    letter-spacing: 0.4px;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    box-sizing: border-box;
    background: transparent;
    text-decoration: none;
    font-weight: 600;


    padding-left: 15px;
    padding-right: 15px;
}

.news-card:nth-child(odd) .news-content h3 {
    color: #db8c0d; 
}

.news-card:nth-child(even) .news-content h3 {
    color: #926fb1; 
}

.news-content p {
    cursor: pointer;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    letter-spacing: 0.4px;
    line-height: 1.375rem;
    font-size: 0.9rem;
    color: #666;
    margin: 5px 0;

    padding-left: 15px;
    padding-right: 15px;
}

.news-button {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Poppins, sans-serif;
    letter-spacing: 0.4px;
    box-sizing: border-box;
    background: transparent;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    user-select: none;
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
    color: #fff;
    font-weight: 400;
}


.news-card:nth-child(odd) .news-button {
    background-color: #db8c0d; 
    border-color: #db8c0d;
}

.news-card:nth-child(even) .news-button {
    background-color: #926fb1; 
    border-color: #926fb1;
}



.news-footer {
    display: flex;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #ccc;
    margin-top: auto;
}




.author-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-info p {
    font-size: .875rem;
    color: #555;
    margin: 0;
    line-height: 1.4;
}



@media (max-width: 1024px) and (min-width: 768px) {
    .news-card {
        flex: 1 1 calc(50% - 20px); 
    }


    .news-flexbox .news-card:nth-child(3) {
        display: none;
    }
}


@media (max-width: 768px) {
    .news-flexbox {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }

    .news-card {
        flex: 1 1 48%; 
    }
    
 
}


  /* News article button */
  .news-art-button {
    font-family: Poppins, sans-serif;
    letter-spacing: .4px;
    box-sizing: border-box;
    background: transparent;
    text-decoration: none;
    font-weight: 600;
    top: 10px;
    position: absolute;
    right: 0;
    color: #fff;
    font-size: .75rem;
    padding: 0 10px;
    line-height: 1.438rem;
    text-transform: uppercase;
    z-index: 1000;
    background-color: #4183d7;
}

.news-card:nth-child(3) .news-art-button {
    background-color: #db8c0d; 
}

.news-art-button:hover {
   text-decoration: underline;
}

.news-image {
    position: relative; /* Ensure relative positioning for the absolute button */
    overflow: hidden; /* Helps in keeping the image and button contained */
}